
#square{
	width: 690px;
	height: 500px;
	background-color: #f3f;
	display: inline-block;
	opacity: 0.5;
	margin-right: 10px;
	top:30%;
}
#cicle{
	width: 500px;
	height: 500px;
	background-color: #f3f;
	display: inline-block;
	border-radius: 50%;
	opacity: 0.5;
	margin-right: 10px;
	top:30%;
}

@import url();

body {

}

/* Text
-------------------------------------------------- */



/* Image
-------------------------------------------------- */



/* iPad 
-------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* text */


  /* image */

}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

  /* text */

  /* image */

}


