*{
	box-sizing: border-box;
	font-family: "Futura";
	background: red;
}
.main{
	position: relative;
	background-color: transparent;
}
.exercises {
	display: inline-block;
	min-width: 600px;
	background-color: red;
	margin: 10px;
	padding: 10px;
	color: white;
	font-size: 30pt;
	}
.projects

{	display: block;
	background-color: white;
	margin:10px;
	width: 500px;
	height: 100px;
	color: red;
	font-size: 3em;
}

a{
	color: white;
	text-decoration: none;}
h1{
	position: fixed;
	font-size: 10em;
	bottom: 38%;
	right: 0px;
	text-align: left;
	line-height: 100px;
	transform: rotate(-90deg);
	background-color: transparent;
}
span{
	color: white;
	opacity: .5;
	letter-spacing: 45px;
	background-color: transparent;

}