*{
	box-sizing: border-box;
	font-family: "Futura";
	color: white;
	background: red;
	font-size: 1em;
}
.title{
	position: absolute;
	right: 0%;
	padding: 5%;
	top: 15%;
	left: 0%;
	height:50%;
	max-width: 20%;
	font-size: 3em; 
	z-index: 1;
	background-color: transparent;
	}
#border{
	position: fixed;
	background-color: transparent;
	border: 2px solid white;
	text-align: justify;
	}
span{
	position: absolute;
	opacity: .7;
	color: white;
	background-color: transparent;
	border: 2px solid white;
}
.main{
	position: absolute;
	width: 50%;
	margin-top: 10%;
	margin-left: 40%;
}
.exercises {
	position: relative;
	text-align: left;
	min-width: 50%;
	margin-left: auto;
	padding: 5%;
	color: white;
	font-size: 1em;
	}
#divider{
	position: absolute;
	height: 1em;
	background-color: white;
	opacity: .2;
	width: 130%;
	right:-20%;
	margin-bottom: 20%;
	}
.projects{	
	display: block;
	min-width: 50%;
	margin-top: 10%;
	}
a{
	color: white;
	text-decoration: none;}
