* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.pina{
	position: absolute;
	bottom: 100px;
	right: 200px;
	width: 150px;
	height: 250px;
	background-color: orange;
	-moz-border-radius: 80px / 60px;
		-webkit-border-radius: 80px / 60px;
		border-radius: 80px / 60px;
	transform: rotate(-15deg);
	overflow: hidden;
	z-index: 7;
	}
				
#pentagon {
	display: inline-block;
	bottom: -19px;
    position: relative;
    width: 60px;
    border-width: 30px 12px 0;
    border-style: solid;
    border-color: yellow transparent;
    margin: 10px;
}
#pentagon:before {
    content: "";

    position: absolute;
    margin: 0;
    margin-top: 0; 
    height: 10px;
    width: 30px;
    top: -60px;
    left: -12px;
    border-width: 0 15px 20px;
    border-style: solid;
    border-color: transparent transparent yellow;

}

.pink-balloon{
	position: absolute;
	bottom: 70px;
	left: 300px;
	width: 280px;
	height:270px;
	-moz-border-radius: 280px / 270px;
		-webkit-border-radius:280px / 270px;
			border-radius: 280px / 270px;
		border-right: stroke 2px transparent;
	background-color: pink;
	opacity: .9;
	z-index: 8;
}

		.pink-dark{
			position: absolute;
			left: 36%;
			bottom: 40%;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		    border: stroke 2px transparent;
			background-color: red;
			opacity: .2;
			z-index: 10;
			}
		.pink-highlight{
			position: absolute;
			bottom: 34%;
			left: 33%;
			width: 100px;
			height: 60px;
			border-radius: 50%;
			border: stroke 2px transparent;
			background-color: white;
			opacity: .3;
			z-index: 9;
			transform: rotate(90deg);
			}
.blue-balloon{
	position: absolute;
	top: 30%;
	left: 52%;
	width: 100px;
	height:100px;
	border-radius:50%;
	background-color: blue;
	opacity: .9;
	z-index: .3;
}
.leaf1{
	position: absolute;
	top: 27%;
	right: 35%;
	width: 0px;
	min-height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 60px solid green;
	z-index: 2;
}
		#leaf2{
			position: absolute;
			top: 17.5%;
			right: 35%;
			width: 0px;
			min-height: 0px;
			border-left: 10px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 120px solid green;
			z-index: 3;
			transform: rotate(-15deg);
			
			}

		#leaf3{
			position: absolute;
			top: 28%;
			right: 38%;
			width: 0px;
			min-height: 0px;
			border-left: 10px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 80px solid green;
			z-index: 4;
			transform: rotate(-35deg);
			}
		#leaf4{
			position: absolute;
			top: 27%;
			right: 30%;
			width: 0px;
			min-height: 0px;
			border-left: 10px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 60px solid green;
			z-index: 5;
			transform: rotate(-3deg);
			}
		#leaf5{
			position: absolute;
			top: 20%;
			right: 33%;
			width: 0px;
			min-height: 0px;
			border-left: 10px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 100px solid green;
			z-index: 6;
			transform: rotate(-10deg);
			}
	

