*{ box-sizing: border-box;
	}
h1{
	font-family: "Lust Script";
	position: fixed;
    top: 5%;
    left: 50%;
    font-size: 6.5em;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 0;
}

#topred{
	width: 320px;
	height:320px;
	top:15%;
	background-color: red;
	margin-left:40%;
	z-index: 4;
	position: absolute;
	padding: 10px;
	-webkit-clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
		clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
	transition: .5s, cubic-bezier(1, -1, 0, 2);
	/*-webkit-animation-iteration-count: infinite;*/
    }
#topred:hover{
	-webkit-clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
			clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
	/*-webkit-animation-iteration-count: infinite;*/
}
#bottomred{
	width: 280px;
		height:280px;
		background-color: red;
		position: absolute;
		margin-left: 42%;
		z-index: 4;
		opacity: .9;
		top: 23%;
		padding: 10px;
	        -webkit-clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
				clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
		-webkit-transition-duration: 5s linear infinite;
}
#bottomred:hover{
-webkit-clip-path: polygon(0% 67%, 100% 76%, 78% 95%, 48% 100%, 15% 96%);
clip-path: polygon(0% 67%, 100% 76%, 78% 95%, 48% 100%, 15% 96%);
	top: 20%;
}


		#topcyan{
		width: 280px;
		height:280px;
		background-color: cyan;
		position: relative;
		margin-left: 40%;
		top: 15%;
		z-index: 3;
		opacity: .5;
		padding: 10px;
		-webkit-clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
			clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
		transition: 0.4s cubic-bezier(1, -1, 0, 2);
		}

	#topcyan:hover{
		-webkit-clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
			clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
		}

	#bottomcyan{
		width: 280px;
		height:280px;
		background-color: cyan;
		position: absolute;
		margin-left: 39%;
		z-index: ;
		opacity: .5;
		top: 28%;
		padding: 10px;
	        -webkit-clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
				clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
		-webkit-transition-duration: 1s linear infinite;
	}

	#bottomcyan:hover{
	-webkit-clip-path: polygon(0% 67%, 100% 76%, 78% 95%, 48% 100%, 15% 96%);
	clip-path: polygon(0% 67%, 100% 76%, 78% 95%, 48% 100%, 15% 96%);

	}

		#topgelb{
			width: 280px;
			height:280px;
			background-color: yellow;
			margin-left:45%;
			top:15%;
			z-index: 2;
			position: absolute;
			opacity: .6;
			padding: 10px;
			-webkit-clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
			clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
			transition: 0.4s cubic-bezier(1, -1, 0, 2);
			}

		#topgelb:hover{
			-webkit-clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
				clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
			}

		#bottomgelb{
			width: 280px;
			height:280px;
			background-color:yellow;
			position: absolute;
			margin-left: 45%;
			z-index: 0;
			opacity: .5;
			top: 25%;
			padding: 10px;
		        -webkit-clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
					clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
			transition: 0.4s cubic-bezier(1, -1, 0, 2);
			}

		#bottommagenta:hover{
			-webkit-clip-path: polygon(0% 67%, 100% 76%, 78% 95%, 48% 100%, 15% 96%);
			clip-path: polygon(0% 67%, 100% 76%, 78% 95%, 48% 100%, 15% 96%);
			}

					#topmagenta{
						width: 320px;
						height: 320px;
						background-color: magenta;
						position: absolute;
						margin-left: 42%;
						top: 15%;
						z-index: 0;
						opacity: .5;
						-webkit-clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
							clip-path: polygon(0% 75%, 100% 74%, 76% 35%, 51% 48%, 27% 38%);
						transition: 0.4s cubic-bezier(1, -1, 0, 2);
						}

					#topmagenta:hover{
						-webkit-clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
							clip-path: polygon(0% 75%, 100% 74%, 81% 46%, 53% 62%, 21% 53%);
						}

					#bottommagenta{
						width: 280px;
						height:280px;
						background-color: magenta;
						position: absolute;
						margin-left: 40%;
						z-index: 0;
						opacity: .5;
						top: 23%;
						padding: 10px;
					        -webkit-clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
								clip-path: polygon(0% 71%, 100% 69%, 87% 89%, 47% 96%, 15% 91%);
						-webkit-transition-duration: 6s infinite;
					}