* {
	box-sizing: border-box;
	background-color: red;
	font-family: "futura";
	font-size: 1em;
	color: white;
	}
.home{
	display: block;
	position: fixed;
	max-height: 5%;
	max-width: 5%;
	left: 5%;
	background-color: transparent;
	top: 5%;
	left: 5%;
	}
		#border{
			border: 1px solid white;
			}
		#ME{
			max-width: 10%;
			opacity: .7;
			border: 1px solid white;
			}

.container{
	position: relative;
	margin-left: 5%;
	margin-top: 20%;
}

.levelone {
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.leveltwo{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.levelthree{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 20px;
	text-align: center;
	}
.levelfour{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.levelfive{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
h1{
	position: fixed;
	top: 10%;
	left: 15%;
	font-size:2em;
	display: block;
	background-color: transparent;
	}
#title{
	opacity: .7;
	background-color: transparent;
	font-size: 3em;
	}
ul{
	list-style: none;
	padding: 0px;
	}
a:link{
	text-decoration: none;

	}

a:hover{
	text-decoration: underline;
	}


