* {
	box-sizing: border-box;
}

body{

	font-family: "futura";
	line-height: 1.5em;
	font-size: 1em;
	background-color: #f4426b;
	}
.container{
	width: 100%;
	margin: 100px auto;
	padding: 25px;
}
.levelone {
	background-color: white;
	display: inline-block;
	width: 90px;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.leveltwo{
	background-color: white;
	display: inline-block;
	width: 90px;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.levelthree{
	background-color: white;
	display: inline-block;
	width: 90px;
	padding: 5px;
	border: 20px;
	text-align: center;
	}
.levelfour{
	background-color: white;
	display: inline-block;
	width: 90px;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.levelfive{
	background-color: white;
	display: inline-block;
	width: 90px;
	padding: 5px;
	border: 10px;
	text-align: center;
	}

h2 h1{
	color: white;
	}




ul{
	list-style: none;
}
 
ul li{
	color: #dadada;
}

a:link{
	color: #f4426b;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


