* {
	box-sizing: border-box;
}
#main{
	position: absolute;

}
.container{
	position: relative;
	top: 300px;
	left: 300px;
}

body{

	font-family: "futura";
	line-height: 1.5em;
	font-size: 1em;
	background-color: #f4426b;
	}


.levelone {
	background-color: white;
	display: inline-block;
	position: relative;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.leveltwo{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.levelthree{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 20px;
	text-align: center;
	}
.levelfour{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}
.levelfive{
	background-color: white;
	display: inline-block;
	width: 18%;
	padding: 5px;
	border: 10px;
	text-align: center;
	}

h2{
	text-align: center;
	}

h1{
	transform: rotate(-90deg);
	 position: fixed;
		bottom: 50%;
		right: 0px;
		font-size: 48pt;
		line-height: 60pt;
		text-align: left;
		color: white;

}


ul{

	list-style: none;
	padding: 0px;
}
 
ul li{
	color: #dadada;
	left: 50%;

}

a:link{
	color: #f4426b;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


