*{box-sizing: border-box;
	font-size: 1em;


}
.title{
	position: relative;
	width: auto;
	height: 100%;
	padding: 10%;
	background-color: black;
	color: white;
	font-family: "Gotham";
		transition: all 2.5s ease;
	}
.title:hover{
	transition-timing-function: 2.5s;
	background: transparent;
}
#h1{
	position: absolute;
	text-align: left;
	left:50%;
	font-size: 6em;
	top: 10%;
	display: inline-block;
	text-transform: uppercase;
	background:transparent;
}
#h6{
	display: block;
	position: absolute; 
	text-align: right;
	left:30%;
	font-size: 4em;
	background-color: transparent;
}

.container{
	position: absolute;
	width:25%;
	top:10%;
	left: 40%;
	font-size: 1em;
	text-align: center;

	}


