*{	box-sizing: box;
	background-color: black;
	color: white;
	font-size: 1em;
	font-family: "futura";
	}
.title{
	margin-top: auto;
	margin-left: auto;
	text-align: center;
	font-size: 4em;
	}
.poem{
	height: 20%;
	overflow: wrap;
}
