* {
	box-sizing: border-box;
	background-color: black;
	}
.transparent{
	background-color: transparent;
}
#container{
	top:0 px;
	margin: auto;
	max-height: 800px;
	font-family: "futura";
	font-size: 14pt;
	text-transform: uppercase;
	background-color: transparent;
	overflow: hidden;
	}

.title{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	color: white;
	letter-spacing: 2px;
	font-size: 3em;
	text-align: center;
	}

.poem{
	position: absolute;
	color: white;
	top: -17px;
	max-height: 800px;
	overflow: hidden;
	opacity: .5;
	letter-spacing: 4px;
	line-height: 2em;
	text-align: justify;
	z-index: 1;
		