* {
	box-sizing: border-box;
}

body{

	background:black;
	font-family: "futura";
}

.talking-head{
	font-weight: 700;
	font-size: 3em;
	color: white;
	}

.main{	
	width: 90%;
	top: 0px;
	margin: 100px auto;	
	overflow: auto;
	z-index: -1;
}

.circle{
	transition: background 1s ease;
	width: 200px;
	height: 200px;
	padding: 30px;
	background: none;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	float: left;
	margin: 15px;
}

.circle:hover{
	background: #0066ff;
}

.circle1{
	width: 200px;
	height: 200px;
	background color:blue;
	-moz-border-radius: 100px;
	-webkit-border-radius:100px;
	border-radius: 100px;
	float: left;
	padding: 30px;
	margin: 15px;
	z-index: 1;
}
.circle1:hover{
	background: red;
p{
	font-size: 3em;
	text-align: center;
	bottom: 10%;
	
}
