* {
	box-sizing: border-box;
	background-color: black;
	font-family: "futura";
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	}

.title{
	position: relative;
	font-size: 5em;
	text-align: center;
	margin-top: auto;
	margin-left: auto;

	}

.poem{
	position: fixed;
	color: white;
	overflow: hidden;
	top: -30px;
	opacity: .5;
	letter-spacing: 4px;
	line-height: 2em;
	font-size: 2em;
	text-align: justify;
	z-index: 1;
	}
		