*{
	box-sizing: border-box;
	}
.title{
	position: absolute;
	right: 30%;
	top: 10%; 
	font-family: "Walbaum";
	font-size: 48px;
	}
.container1{
	position: absolute;
	left:50%;
	top: 50%;
	text-align: right;
	font-family: "Hevetica";
	font-size:38px;
	text-align: justify;
	width: 200px;
	}

.container2{
	position: absolute;
	right: 30%;
	top: 800px;
	padding: 800px;
	text-align: left;
	font-family: "Hevetica";
	font-size:30px;
	width: 200px;
	}

.container3{
	position: relative;
	left: 40%%;
	top: 1200px;
	text-align: left;
	font-family: "Hevetica";
	font-size:10px;
	line-height: 30pt;
	width: 20px;
	}
span{
	line-height: 50px;
}