* {
	box-sizing: border-box;
}

body{

	background:white;
	font-family: "Futura";
}
.main{
	position: relative;
	width: 1400px;
	height: 1000px;
	left: 200px;
	top: 1020px;
}
.talking-head{
	position: fixed;
	font-weight:700;
	font-size: 70px;
	width: 250px;
	padding: 20px;
}
.square{
	position: absolute;
	transition: width 4s ease;
	width: 500px;
	height: 1000px;
	float: right;
	right: 0px;
	background-color: white;
	top:-500px;
	z-index: 1;
	box-shadow: bottom 10px;
}

.square:hover{
	width:0%;
}
.square2{
	position: relative;
	display: inline-block;
	transition: width 4s ease;
	width: 900px;
	height: 1000px;
	float: left;
	left: 0px;
	background-color: white;
	top:-500px;
	z-index: 4;
}

.square2:hover{
	width:0%;}

.poem{
	position: absolute;
	display: inline-block;
	top:-500px;
	left: 50%;
	width: 400px;
	font-size: 26px;
}

#fixed{
	font-size: 100px;
	position: fixed;
	bottom: 0px;
	right: 30px;
	font-weight: bold;

}
p{
	color: red;
}