*{ box-sizing: border-box;
	}
p{
	position: relative;
	margin-left: 10%;
	font-size: 3.5em;
	color: blue;
	top:30%;
	font-family: "futura";
	z-index: 1;
}
#door{
	background-color: black;
	height: 375px;
	width: 175px;
	z-index: 3;
}
.doorbell2{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: blue;
}