*{box-sizing: border-box;}
.door{
	display: inline-block;
	position: relative;
	background-color: black;
	height: 375px;
	width: 175px;
	margin-left: 10%;
	z-index: 1;
}
.doorbell{
	display: inline-block;
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	top: 165;
	left: 200px;
	background-color: blue;
}

#Cdoor{
	display: inline-block;
	min-width: 1500px;
	margin-left: -10px;
	margin-top: 10%;
}
#Cdoor2{
	display: inline-block;
	min-width: 1500px;
	margin-left: -10px;
	margin-top: 10%;
}
#Cdoor3{
	display: inline-block;
	min-width: 1500px;
	margin-left: -10px;
	margin-top: 10%;
}