
  }
 .container{
 	position: relative;
 	width: 1040px;
 	height: 800px;
 	}
	
	
#h1{
	font-family: "Futura";
	font-size: 18pt;
	line-height: 300pt;
	position: absolute;
	text-align: right;
	margin-right: 5px;
	color: black;
	margin-top: 0px;
	}

#h2{
	font-family: "Futura";
	font-size: 100pt;
	line-height: 90pt;
	position: fixed;
	display: inline-block;
	right:0px;
	top:-145px;
	color: black;
	text-align: left;
	}

#h6{
	font-family: "Futura";
	text-transform: capitalize;
	text-align: right;
	line-height: 18pt;
	color: blue;
	position: absolute;
	top:0px;
	right:50px;
	-ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
	}

.poem{
	display: block;
	top:100px;
	width: 500px;
	line-height: 60px;
	background-color:;
	color: white opacity:.7;
	font-family: "Gotham";
	}
